 {% load staticfiles %}

<!DOCTYPE html>
<html>

<head>


  <meta http-equiv="content-type" content="text/html" charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">




  <title>Inventory Managment</title>

  <!-- Core CSS - Include with every page -->

  <link href="{% static 'css/app.css' %}" rel="stylesheet">

  <style type='text/css'>
    body {
      font-family: 'THSarabun';
 
      font-size: 150%;
    }
    
  table {
    table-layout: fixed;
    word-wrap: break-word;
    border-collapse: collapse;
    
    
  
    
  }
  .tableList{
    
    border-top: none;
    border-bottom: none;

  }
  .tableFoot{
   
    border-bottom: none;
    border-left: none;
    border-right: none;
  }
  #tdTop {
   
    vertical-align: top;
}

 
  

  </style>

</head>


 
    <table class="table" width="968"  border="1" align="center">
      <tr>
        <td width="475" align="center" valign="middle">
          <img src="{% static 'img/svoa-logo.png' %}" width="200" height="100" alt="">
        </td>
        <td width="475" align="center" valign="middle">
          <strong>
            <h3>เอกสารใบส่งมอบสินค้า</h3>
          </strong>
        </td>
      </tr>
    </table>
    <br />
    
    <table class="table" width="968" height="138" align="center">
      <tr>
        <td width="146"> นามลูกค้า :</td>
        <td width="248">{{ customer_name }}</td>
        <td width="297" align="center">เลขที่เอกสาร :</td>
        <td width="257" align="center"> {{no}}</td>
      </tr>
      <tr>
        <td>ที่อยู่ :</td>
        <td>{{customer_address}}</td>
        <td align="center">วันที่ :</td>
        <td align="center">{{date}}</td>
      </tr>
      <tr>
        <td>ผู้ติดต่อ :</td>
        <td>{{staff_name}}</td>
        <td align="center">สัญญาเลขที่ :</td>
        <td align="center">{{contract_no}}</td>
      </tr>
      <tr>
        <td>โทรศัพท์ :</td>
        <td>{{customer_tel}}</td>
        <td align="center">อ้างถึง :</td>
        <td align="center">{{ref}}</td>
      </tr>
    </table>
    <table class="table" width="955" height="45" border="0" align="center">
      <tr>
        <td width="191" align="center">บริษัท เอสวีโอเอ จำกัด ( มหาชน ) ได้จัดส่งสินค้า เครื่องคอมพิวเตอร์และอุปกรณ์ต่างๆ ดังรายการต่อไปนี้</td>
      </tr>
    </table>

    


  <table class="table" width="990" height="48" border="1" align="center">
    <tr>
      <td width="66" height="48" align="center"> ลำดับที่</td>
      <td width="140" align="center">รหัสสินค้า</td>
      <td width="460" align="center">รายละเอียดสินค้า</td>
      <td width="70" align="center">จำนวน</td>
      <td width="184" align="center">หมายเลขเครื่อง</td>
    </tr>
  </table>
    









</body>

</html>

