{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>


    <meta http-equiv="content-type" content="text/html" charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">




    <title>Inventory Managment</title>

    <!-- Core CSS - Include with every page -->
    <!--<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">-->
    <link href="{% static 'css/app.css' %}" rel="stylesheet">

    <style type='text/css'>
        body {
            font-family: 'THSarabun';

            font-size: 200%;
        }

        table, th, td {
            border: 1px solid rgb(44, 20, 20);
            word-wrap: break-word;
            border-collapse: collapse;
        }

    </style>

</head>

<body>

    <table>
        <tr>
            <th>id</th>
            <th>device_name</th>
            <th>path_number</th>
            <th>serial_number</th>
            <th>device_type</th>
            <th>location</th>
            <th>status</th>
        </tr>
        {% for b in obj %}
        <tr>
            <td>{{ b.id }}</td>
            <td>{{ b.device_name }}</td>
            <td>{{ b.path_number }}</td>
            <td>{{ b.serial_number }}</td>
            <td>{{ b.device_type }}</td>
            <td>{{ b.location }}</td>
            <td>{{ b.status }}</td>
        </tr>
        {% endfor %}
    </table>

</body>

</html>